section, header, footer {
	margin: 20px;
	border: 1px black solid;
	padding: 10px;
	min-height: 60px;
}

.grayBackground {
	background-color: gray;
}

.tanBackground {
	background-color: tan;
}

.purpleBackground {
	background-color: purple;
}

header.purpleBackground > h1{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section.grayBackground {
	color: #938373;
}